/* 
    General Styles
*/
body {
    background-image: url(https://st.depositphotos.com/1575673/4281/v/600/depositphotos_42819705-stock-video-starfield.jpg);
    color:white
}
img {
    width: 75px;
    height: 55px;
}

.card-padre {
    display: flex;
    overflow-x: scroll;
    gap: 5px;
}
.card-sw {
    min-width: 300px;
    height: 400px;
}

.imagen {
  height: 180px;
  width: 300px

}

.cont {
    height: 150px;
    width: 300px; 
}

.piepag {
    height: 70px;
    width: 300px;
    display: flex;
    overflow-x: scroll;
    justify-content:space-around ;
}

.icon {
    width: 20px;
    height: 20px;
}

.me {
    height: 40px;
    width: 120px;
}